.curved-background {
    background: linear-gradient(rgba(12, 40, 199, 0.2) 0%, rgba(214, 16, 16, 0.1) 100%);

    border-bottom-left-radius: 90% 20%;
    border-bottom-right-radius: 70% 30%;

    height: 45%;
    width: 100%;
}
